    html,body {
        overflow: visible;
        max-width: 1980px;
    }
    body { 
      margin:0; 
      overflow-y: scroll;
      overflow-wrap: break-word;
      word-break: break-word;
      word-wrap: break-word;
    }
    *{
        font-family: Arial;
    }
    #fullpage {
        margin:0;
        padding: 0;
    }
    #header {
        margin: auto;
        position:absolute;
        background-image:url("/Projecte_MVC_1rDAW/view/image/header.png");
        margin-left: -15px;
         background-size: 1900px;
        background-color: none;
        top: 0;
        height: 50em;
        width: 100%;
        z-index:-1;
        float: none;
    }
   #menu {
    margin: auto;
    margin-top: -10px;
    margin-bottom: 5px;
    text-align: center;
    height: 50px;
    padding-top: 25px;
    background: rgba(44, 51, 44, .5);
   }
    #menu a {
        left: 30%;
        margin-left: 5em;
        background: rgba(44, 51, 44, .8);
        border: none;
        font-size: 20px;
        color: #FFFFFF;
        padding: 25px;
        width: 50px;
        /*-webkit-border-radius:20px;*/
        text-align: center;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    #menu a:hover{
      color: rgb(255,255,0,0.8);
      box-shadow: 5px 5px 22px 0 black;
      transform: scale(1.05);
    }
   #content{
    width: 100%;
    min-height: 41em;
    background-color: none;
    float:left;
    /*box-shadow:0px 0px 50px 30px #dddddd;*/
   }
   #footer {
    color: #ffffff;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    clear: both;
    height: 500px;
   }
   #news {
    float:right;
    width: 10%;
    padding: 15px;
    background: rgba(0, 0, 0, .4);
    -webkit-border-radius:20px;
    margin-right: 50px;
   }
   #news p {
    padding: 5px;
    background: rgba(44, 51, 44, .2); 
   }
   #news a {
    margin-top: 5px;
    font-size: 12px;
   }
   table,td,th{
        font-size: 18px;
        border-spacing: 2em;
    }
    label{
    display: block;
    font-weight: bold;
    }
    
    /*--------------------------------------------------------------------------------------------------------------------------------------

     PAGES 

    -------------------------------------------------------------------------------------------------------------------------------------- */
    
    #controller_users {
        border: 1px solid #ccc;
        background-color: #f3f3f3;
        text-align: left;
        border-style: outset;
        border-radius:50px;
        -webkit-border-radius:50px;
        border-color: #729997;
    }
        #controller_usrs input{
            padding-left: 1em;
            height: 2em;
        }
    #aboutus {
      width: 80%;
      float: left;
      padding: 15px;
      border: 1px solid #ccc;
      background-color: #f3f3f3;
      text-align: center;
      border-style: outset;
      border-radius:50px;
      -webkit-border-radius:50px;
      border-color: #729997;
    }
    #homepage {
      float: left;
      padding: 0;
      text-align: left;
      width: 100%;
   /*   border: 1px solid #ccc;
      background-color: #f3f3f3;
      border-style: outset;
      border-radius:50px;
      -moz-border-radius:50px;
      -webkit-border-radius:50px;
      border-color: #729997;*/
    }
    /*--------f------------------------------------------------------------------------------------------------------------------------------
    Map
    ----------------------------------------------------------------------------------------------------------------------------------------*/
    #map {
       }
    #map_home {
      height: 426px;
      width: 687px;
      top: 65px;
      margin: auto;
      margin-bottom: 30px;
      left: 47px;
    }

    /* Slider */
    .mySlides {
      transition: all 1s ease;
    }
    .mySlides:hover {
      transition: all 0.3s ease;
      transform: scale(1.01);
    }
    .main_slider{
      width: 100%;
      height: 410px;
      margin: 0 auto;
          margin-top: 0px;
      margin-top: -5px;
    }
    .slider-outer{
       height:100% !important;
       
      overflow:hidden;
    }
    .slider{
     
        width: 100%;
        height: 100%;
    }
    .slide-image{
      width: 100%;
        height: 100%;
       display:block;
        color: transparent;
        background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background-position: 50% 50%;
        background-repeat: none;
    }
    .slider .slide-item{
      float:left;
        padding: 0;
        margin: 0;
    }
    .clear{
      clear:both;
    }
    #user_like{
      width: 100px;
      background: rgb(255,255,105,0.9);
      height: 100px;
      clear: none;
      float: left;
      margin: 0 5px; 
    }
    #listlikes{
      clear: both;
      width: 100%;
    }
    /*--------------------------------------------------------------------------------------------------------------------------------------
    Footer
    ----------------------------------------------------------------------------------------------------------------------------------------*/
    #footer input {

      /*width: 10em;
      letter-spacing:1px;
      outline:none;
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;*/
      align-self:center;
      background:transparent;
      padding:1rem 1rem;
      margin:0 1rem;
      transition:all .5s ease;
      color:#41403E;
      font-size:2rem;
      letter-spacing:1px;
      outline:none;
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
         border:dotted 5px #41403E;
    }
    #footer input:hover {
     box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
    }
    /*--------------------------------------------------------------------------------------------------------------------------------------

     ERROR LABALES 

     --------------------------------------------------------------------------------------------------------------------------------------*/

    .error { color: #3d0b0b; font-family: arial; font-size: 10pt; font-family:arial }
        .error label {
            width:15%;
            float:left;
        }
    #result {
        float: left;
        clear: both;
        width: 20em;
        color:#ffffff;
        background-color: #fc0000;
        padding-left: 15px;
        border-radius:50px;
        -webkit-border-radius:50px;
    }
    #error_js { color: #9e0000; font-family: arial; font-size: 10pt }

    /*
    
    FORMULARY
    
    */

    #formulari {
        margin:auto;
        top: 20%;
        left: 25%;
        height:15%;
        margin:5% 5% 5% 5%;
        text-align: left;
        background-color: #dddddd;
        border-color: #729997;
        box-shadow:0px 0px 50px 30px #dddddd;
    }
    #slot{top: 5%;margin-top: 35px;}
        #slot label {
            width: 15em;
            height: 2em;
            background-color: #f3f3f3;
            padding-top: 10px;
            padding-left: 5px;
        }
        #slot input {
            width: 10em;
            margin-left: 5em;
            
        }
    #slot_forbuttons{top: 5%;margin-top: 35px;}
        #slot_forbuttons label {
            width: 15em;
            height: 2em;
            background-color: #f3f3f3;
            padding-top: 10px;
            padding-left: 5px;
        }
        #slot_forbuttons input {
            width: 10em;
        } 
    #slot h4 {
      color: #ffffff;
      background: rgba(44, 51, 44, .5);
      padding: 5px;
      -webkit-border-radius: 50px;
      padding-left: 15px;
      width: 200px;
    }
    #button {
        width: 5%;
    }
/*------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------LIST-------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
  #list{
    overflow:auto;
    min-height: auto;
    border-color: #000000;
    padding: 15px;
    -webkit-border-radius:50px;
    width: 98%;
    float: left;
  }
  #list h1 {
      font-size: 64px;
      color: #ffffff;
      background: rgba(44, 51, 44, .5);
      padding: 5px;
          padding-left: 5px;
      -webkit-border-radius: 50px;
      padding-left: 15px;
      text-align: center;
      width: 558px;
      margin: 0 auto;
      box-shadow: 5px 10px 15px 3px black;  
  }   
  #menu_listevents {
    height: 100px;
    background: rgb(0, 255, 255,0.5);
    width: 850px;
    margin: 15px auto;
    padding: 15px;
    border-radius: 20px 75px 20px 20px;
    -moz-border-radius: 20px 75px 20px 20px;
    -webkit-border-radius: 20px 75px 20px 20px;
    box-shadow: 0px 3px 20px 0 rgb(0,255,255,0.3);
    transition: all 1s ease;
  }
  #menu_listevents:hover {
    background: rgb(0, 255, 255,0.8);
    box-shadow: 0px 3px 20px 0 rgb(0,255,255,0.8);
    transition-duration: 2.5s;
  }
  #list #menu_listevents a {
      left: 30%;
      margin-left: 2em;
      background-color: #515050;
      border: none;
      font-size: 20px;
      color: #FFFFFF;
      padding: 15px;
      -webkit-border-radius:20px;
      text-align: center;
      transition-duration: 0.2s;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
      }
  #list #search_name {
    position: absolute;
    top: 200px;
    left: 761px;
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 28px;
    z-index: 1;
  }
  #tablelist {
      overflow:auto;
      margin-left: 12em;
      background-color: #f3f3f3;
  }
  #list a {
    font-size: 64px;
    color: #ffffff;
    background: rgba(44, 51, 44, .5);
    padding: 5px;
    padding-left: 5px;
    padding-left: 5px;
    -webkit-border-radius: 50px;
    text-align: center;
    margin: 0 auto;
        margin-right: auto;
    box-shadow: 5px 10px 15px 3px black;
    font-size: 18px;
    padding: 7px;
    margin-right: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  #list a:hover {
    box-shadow: 9px 5px 20px 0 rgb(255, 0, 255,0.9);
  }
  #listtittle {
  }
  #addlist {
      margin-left: -80px;
      margin-top: -15px;
  }
  #rowlist {
      margin-top: 1em;
  }
  #eventdivlist {
    background-color: #7c7c7c;
    -webkit-border-radius: 20px;
    margin-right: 5px;
    padding: 0 25px;
    width: 15em;
    float: left;
    margin-bottom: 15px;
    text-align: center;
    height: 10em; 
    transition: all 1s ease;
  }
  #eventdivlist_01 {
    background-color: #7c7c7c;
    -webkit-border-radius: 20px;
    padding: 0 25px;
    width: 15em;
    float: left;
    margin-bottom: 15px;
    text-align: center;
    height: 10em; 
    background: url("/Projecte_MVC_1rDAW/view/image/ticket-hi.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: 48%;
    -webkit-transform: rotate(30deg);
  }
  #eventdivlist_01:hover {
    color: red;
  }
    #eventdivlist a{
        left: 30%;
        margin-left: -5px;
        margin-right: 15px;
        background-color: #515050;
        border: none;
        font-size: 10px;
        color: #FFFFFF;
        padding: 10px;
        -moz-border-radius:20px;
        -webkit-border-radius:20px;
        text-align: center;
        transition-duration: 0.2s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
    }
  #eventdivlist_02 {
    background-color: #7c7c7c;
    -webkit-border-radius: 20px;
    margin-right: 5px;
    padding: 0 25px;
    width: 15em;
    float: left;
    margin-bottom: 15px;
    text-align: center;
    height: 200px;
    box-shadow: 9px 5px 20px 0 rgb(255, 0, 255,0.3); 
    transition: all 0.2s ease;
  }
  #eventdivlist_02:hover {
    transform: scale(1.05);
    box-shadow: 9px 5px 20px 0 rgb(255, 0, 255,0.9);
    transition-duration: 0.75s;
  }
  #eventdivlist_02 div {
    background: rgb(255,255,255, 0.1);
    border-radius: 20px;
    margin: 5px auto;
    width: 100px;
    height: 20px;
    box-shadow: 2px 3px 5px 0 rgb(255,200,255,0.5);
    cursor: default;
  }
  #eventdivlist_02 div:hover{
    transform: scale(1.05);
  }
    .ui-autocomplete-input{
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1)
      
    }
    #list_homepage {
        /*min-height: 30em;*/
        min-width: 1400px;
        background-color: #f3f3f3;
        border-color: #000000;
        border-size:5px;
        padding: 15px;
        float: left;
        margin-top: -15em;
        width: 98%;
        transition: all 1s ease;
    }
    #list_homepage h1 {
        font-size: 28px;
        color: #ffffff;
        background-color: #000000;
        padding: 5px;
        padding-left: 15px;    }
    #list_homepage a {
        left: 30%;
        margin-left: 2em;
        background-color: #515050;
        border: none;
        font-size: 20px;
        color: #FFFFFF;
        padding: 15px;
        -moz-border-radius:20px;
        -webkit-border-radius:20px;
        text-align: center;
        transition-duration: 0.2s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
        }
    #tablelist_homepage {
      clear: both;
      min-width: 930px;
      padding-right: 25em;
      padding-left: 28em;
      float: left;
      margin-bottom: 15px;
      border-color: #000000;
    }
    #tablelist_homepage a{
        left: 30%;
        margin-left: 0px;
        margin-right: 15px;
        background-color: #515050;
        border: none;
        font-size: 12px;
        color: #FFFFFF;
        padding: 15px;
        -moz-border-radius:20px;
        -webkit-border-radius:20px;
        text-align: center;
        transition-duration: 0.2s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
    }
    #tablelist_homepage_button{
      clear: both;
      margin-left:50em;
    }
    #apidiv{
      margin-left: -15em;
      width: 100%;
      font-family: helvetica;
    }
    #apieventlist {
    background-color: #7c7c7c;
    -webkit-border-radius: 20px;
    margin-right: 5px;
    padding: 0 20px;
    width: 20em;
    float: left;
    margin-bottom: 15px;
    max-width: 400px;
    max-height: 400px;
    min-height: 400px;
    display: block;
    overflow: hidden;
    background-size: auto auto;
    background-position: center;
    background-repeat: unset;
    transition: all 1s ease;
    }
    #apieventlist:hover{
    background-size: auto auto;
    transform: scale(1.05);
    }
    .titleapi {
      /*background: -moz-radial-gradient(center, ellipse cover, rgba(255,0,0,0.8) 0%, rgba(255,57,0,0.8) 11%, rgba(255,255,0,0.8) 49%, rgba(255,65,0,0.8) 87%, rgba(255,0,0,1) 100%); /* ff3.6+ */
      font-family: helvetica;
      text-align: center;
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
      background: radial-gradient(circle, rgba(255,255,0,0.5) 5%,white 50%);
    }
    #apieventlist h2{
      text-align: center;
      background: radial-gradient(circle, rgba(255,255,0,0.9) 50%,rgb(0,0,0, .0) 100%);
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
      position: absolute;
      margin: auto;
      width: 300px;
    }
    #apieventlist a {
      padding: 10px;
      margin: 300px 115px;
      position: absolute;
      color: #000000;
      background: -moz-linear-gradient(45deg, rgba(128,0,0,0.8) 0%, rgba(222,222,0,0.86) 31%, rgba(128,5,5,1) 100%); /* ff3.6+ */
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      border: dotted 4px #41403E;
      text-decoration: none;
      transition: all 1s ease;
    }
    #apieventlist a:hover{
      transform: scale(1.05);
    }
    .home_read,.cart_add{
      padding: 10px;
      width: 75px;
      float: left;
      color: #000000;
      text-decoration: none;
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      border: dotted 4px #41403E;
      margin-right: 16px;
      margin-bottom: 10px;
      -webkit-user-select: none; /* Safari */        
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
      transition: all 0.5s ease;
    }
    .home_like {
      top: -77px;
      left: 48px;
      position: relative;
      height: 0;
      color: green;
    }
    #eventdivlist .cart_add_01{
      padding: 10px;
      width: 75px;
      float: left;
      color: rgb(255,0,0,0.5);
      text-decoration: none;
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      border: dotted 4px #41403E;
      margin-right: 16px;
      margin-bottom: 10px;
      -webkit-user-select: none; /* Safari */        
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
      font-size: 14px;
      transition: all 1s ease;
    }
     .home_read:hover,.cart_add:hover{
      color: #ffffff;
      transform: scale(1.05);
     }
     #eventdivlist:hover {
      background-color: rgb(72, 79, 71,.5);
      transform: scale(1.01);
     }
     #ticketlist {
      background-color: #7c7c7c;
      -webkit-border-radius: 20px;
      margin-right: 5px;
      padding: 0 25px;
      width: 15em;
      float: left;
      margin-bottom: 15px;
      text-align: center;
      height: 10em;
     }
/*------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------READ-------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/

    #read_users{
        background-color: #f3f3f3;
        border-color: #000000;
        padding: 15px;
        -webkit-border-radius: 50px;
        width: 1000px;
        height: 350px;
        margin: auto;
        margin-top: -25px;
        box-shadow: 0 0 44px 0 black;
    }
    #title_profile {
      background: rgb(255,255,255,0.8);
      border-radius: 10px 10px 10px 10px;
      width: 1100px;
      position: relative;
      left: 140px;
      height: 50px;
      z-index: -1;
      padding: 41px 50px;
      box-shadow: 15px 34px 26px rgba(0, 255, 255, .5);
    }
    #read_users h3 {
      float: left;
      clear: none;
    }
    #read_users #more_info_profile {
      position: absolute;
      top: 450px;
      background: white;
      padding: 5px;
      box-shadow: 2px 6px 14px 0px black;
      cursor: pointer;
    }
    #read_users p {
      float: left;
      clear: none;
      width: 150px;
      padding-top:5px;
    }
    #profile_moreinfo {
      width: 500px;
      height: auto;
      position: absolute;
      top: 500px;
    }
        #read_users h1 {
            font-size: 28px;
            color: #ffffff;
            background-color: #000000;
            padding: 5px;
            -moz-border-radius:50px;
            -webkit-border-radius:50px;
            padding-left: 15px;
        }

        #read_users .slot{
            background-color: #444f44;
            color: #ffffff;
            font-size: 22px;
            padding: 5px;
        }
        #read_users .table_read_users{
            margin-left: 10em;
        }
/*------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------Update-------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/

    #update_users {
        width: 80%;
        float: left;
        background-color: #f3f3f3;
        border-color: #000000;
        border-size:5px;
        padding: 15px;
        -moz-border-radius:50px;
        -webkit-border-radius:50px;
    }
    #update_users h1 {
            font-size: 28px;
            color: #ffffff;
            background-color: #000000;
            padding: 5px;
            -moz-border-radius:50px;
            -webkit-border-radius:50px;
            padding-left: 15px;
    }
    #update_users label {
        font-size: 18px;
    }
    #update_users #slot {
        margin-left: 3em;
    }
    #update_users #slot input{
        margin-top: -50px;
        margin-left: 18em;
    }
    #update_users #button input{
        width: 5em;
        height: 3em;
        margin-left: 5em;
        margin-top: 3em;
    }
/*------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------Create-------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/

    #create_users {
      width: 80%;
      float: left;
         background-color: #f3f3f3;
        border-color: #000000;
        border-size:5px;
        padding: 15px;
        -moz-border-radius:50px;
        -webkit-border-radius:50px;
    }
    #create_users h1 {
      font-size: 28px;
      color: #ffffff;
      background: rgba(44, 51, 44, .5);
      padding: 5px;
      -moz-border-radius:50px;
      -webkit-border-radius:50px;
      padding-left: 15px;
    }
    #create_users * {
        font-size: 16px;
    }
    #create_users label {
        float:left;
        margin-top: 25px;
    }
    #create_users input {
        padding: 8px;
        margin-top: 25px;
    }
    #create_users #button input{
        width: 5em;
        height: 3em;
    }

/*------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------Delete-------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
    #delete_users {
        background-color: #f3f3f3;
        border-color: #000000;
        border-size:5px;
        padding: 15px;
        -moz-border-radius:50px;
        -webkit-border-radius:50px;
    }
    #delete_users h1 {
            font-size: 28px;
            color: #ffffff;
            background-color: #000000;
            padding: 5px;
            -moz-border-radius:50px;
            -webkit-border-radius:50px;
            padding-left: 15px;
    }
    #delete_users * {
        font-size: 16px;
    }
    #delete_users input {
        padding: 8px;
        margin-top: 25px;
    }
    #delete_users #button button{
        width: 5em;
        height: 3em;
        margin:1em;
        margin-left: 5em;
    }
    #delete_users a {
        text-decoration:none;
        color: #000000;
    }


/*------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------Modal--------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/

.modal-open {
  overflow: hidden;
  padding-right: 0 !important
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
/*------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------CART-------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
  #listcart {
    font-family: helvetica;
  }
  #payment {
    width: 500px;
    float: left;
    background: rgba(255, 255, 255, .9);
    margin: 55px 5px 5px 70px;
    padding: 15px;
    height: 250px;
    border-style: inset;
    box-shadow: 1px 2px 10px -2px rgba(0,0,0,0.3);
  }
  #payment #e_pay {
    position: relative;
    top: 275px;
    left: -186px;
  }
  #payment h1 {
    float: left;
  }
  #payment #total_price_ticket {
    font-size: 46px;
    position: relative;
    top: 10px;
    left: 100px;
  }
  #payment #cartpay {
    position: relative;
    top: 191px;
    left: 5px;
    width: 250px;
    font-family: helvetica;
  }
  #listcart #carrito {
    background: rgba(44, 51, 44, .5);
    width: 50%;
    float: left;
    margin: 0 0 0 35px;
    border-style: inset;
  }
  #listcart #carrito #carttitle {
    height: 100px;
  }
  #listcart #carrito #cartthings {
    background: rgb(255,255,255,0.8);
    width: 100%;
    height: 34px;
    box-shadow: 1px 2px 10px -2px rgba(0,0,0,0.3);
    border-radius: 26px 30px 18px 26px;
    -moz-border-radius: 26px 30px 18px 26px;
    -webkit-border-radius: 26px 30px 18px 26px;
  }
  #listcart #carrito #carttitle h1{
    text-align: center;
    background: radial-gradient(circle, rgba(255,255,255,0.5) 5%,rgba(44, 51, 44, .0) 50%);
  }
  #listcart #carrito #carttitle h3{
    width: 100px;
    float: left;
    margin: 0;
  }
  #listcart #carrito #cartelementdiv {
    background: rgba(255, 255, 255, .9);
    height: 200px;
    margin: 5px;
    text-align: auto;
    vertical-align: middle;
    line-height: 50px;
    border-radius: 18px 74px 54px 45px;
    -moz-border-radius: 18px 74px 54px 45px;
    -webkit-border-radius: 18px 74px 54px 45px;
    box-shadow: 1px 2px 10px -2px rgba(0,0,0,0.3);
  }
  #listcart #carrito #cartelementdiv h3 {
    display: flex;
    float: left;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    margin: 74px 0;
  }
  #listcart #carrito #cartelementdiv .cant {
    float: left;
    margin: 84px 0 0 300px;
  }
  #listcart #carrito #cartelementdiv .cartrest,
  #listcart #carrito #cartelementdiv .cartsum{
    height: 50px;
    float: left;
    width: 50px;
    margin: auto 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  #listcart #carrito #cartelementdiv .deleteitem{
    height: 50px;
    position: absolute;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 13px;
    border-bottom: 1px solid #fff;
    border-radius: 9px;
    box-shadow: 1px 2px 10px -2px rgba(0,0,0,0.3);
  }
  #listcart #carrito #cartelementdiv .cartrest:hover,
  #listcart #carrito #cartelementdiv .cartsum:hover{
    color: #ffffff;
    transform: scale(1.2);
    background-color: rgb(72, 79, 71,.5);
  }
  #listcart #carrito #cartelementdiv .deleteitem:hover{
    color: #000000;
    background-color: rgb(153, 9, 30,.5);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  
/*------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------LOGIN MENU-------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
nav ul {
  padding: 2px 10px;
  list-style: none;
  position: relative;
  float: right;
  /*background: #eee;
  border-bottom: 1px solid #fff;*/
  border-radius: 3px;
  margin-top: -30px;
  margin-right: 50px;   
}

nav li {
  float: left;          
}

nav #login {
}

nav #login-trigger,
nav #signup a {
  /*display: inline-block;
  padding: 3px 50px;
  height: 25px;*/
  *display: inline;
  *zoom: 1;
  line-height: 25px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff; 
}

nav #signup a {
  border-radius: 0 3px 3px 0;
}

nav #login-trigger {
  border-radius: 3px 3px 3px 3px;
  margin: 5px;
}

nav #login-trigger:hover,
nav #login .active,
nav #signup a:hover {
  background: rgba(255,255,255,.5);
  color: #000000;
  transform: scale(1.05);

}

nav #login-content {
  display: none;
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 999;    
  background: #fff;
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 15px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 3px 0 3px 3px;
}

nav li #login-content {
  right: 0;
  width: 250px;  
}

/*--------------------*/

#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#login #actions {
  margin: 10px 0 0 0;
}

#login #submit {    
  background-color: #d14545;
  background-image: linear-gradient(top, #e97171, #d14545);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #7e1515;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
}

#login #submit:hover,
#login #submit:focus {    
  background-color: #e97171;
  background-image: linear-gradient(top, #d14545, #e97171);
} 

#login #submit:active {   
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;   
}

#login #submit::-moz-focus-inner {
  border: none;
}

#login label {
  float: right;
  line-height: 30px;
}

#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}
#loginonmenu input {
  width: 170px;
}
#loginonmenu a {
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("/Projecte_MVC_1rDAW/view/image/backgroundloadscreen.gif") center no-repeat #fff;
}
#divtickets .title{
  font-size: 64px;
  color: #ffffff;
  background: rgba(44, 51, 44, .5);
  padding: 5px;
      padding-left: 5px;
  padding-left: 5px;
  -webkit-border-radius: 50px;
  padding-left: 15px;
  text-align: center;
  width: 558px;
  margin: 0 auto;
  box-shadow: 5px 10px 15px 3px black;
}
#divtickets .tick_sear{
  height: 100px;
  background: rgb(0, 255, 255,0.5);
  width: 850px;
  margin: 15px auto;
  padding: 15px;
  border-radius: 20px 75px 20px 20px;
  -moz-border-radius: 20px 75px 20px 20px;
  -webkit-border-radius: 20px 75px 20px 20px;
  box-shadow: 0px 3px 20px 0 rgb(0,255,255,0.3);
  transition: all 1s ease;
}